# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# Data
data/raw/
data/processed/
data/splits/
*.h5
*.hdf5

# Models
models/*.pth
models/*.pt
models/*.ckpt
models/*.keras
models/*.h5

# Logs
logs/
*.log

# Environment
.env
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Comet ML
.cometml-runs/

# Temporary files
*.tmp
*.bak

#dataset folders
/dataset1/
/dataset2/
/dataset3/
